:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 300px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  --color-red: #d02523;
}

.route-error {
  height: calc(100vh - 140px);
  background: linear-gradient(180deg, #d02523 0%, #9b2220 67.26%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 70px 0;
}

.error-oops footer.footer {
  display: none;
}

.route-error .thank-you-btn {
  margin-top: 20px;
}

.thank-you-btn a {
  border-radius: 5px;
  text-transform: none;
}

.route-error h2,
.route-error h1 {
  color: #fff;
  font-size: calc(30px + (120 - 30) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(30px + (120 - 30) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
  margin: 0;
}

aside {
  background: #9b2220;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid #fff;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
  display: none;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside header .outer {
  position: relative;
  width: 28px;
  cursor: pointer;
  z-index: 999;
}

/* aside header .inner {
	width: inherit;
	text-align: center;
}*/
aside header .inner:before,
aside header .inner:after {
  position: absolute;
  content: '';
  height: 3px;
  width: inherit;
  background: #fff;
  left: 0;
  transition: all 0.3s ease-in;
  width: 30px;
}

aside header .inner:before {
  top: 44%;
  transform: rotate(45deg);
}

aside header .inner:after {
  bottom: 47%;
  transform: rotate(-45deg);
}

aside header .inner a {
  font-size: 9px;
  line-height: 4em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
  opacity: 0 !important;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
}

@media (min-width: 768px) {
  /* aside header .outer:hover .inner:before, aside header .outer:hover .inner:after {
		transform: rotate(0);
	} */
  /* aside header .outer:hover .inner:before {
		top: 0;
	}
	aside header .outer:hover .inner:after {
		bottom: 0;
	} */
  /* aside header .outer:hover a {
		opacity: 1 !important;
		text-decoration: none;
	} */
}

aside main {
  margin: 1rem;
  background: transparent;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

body.no-scroll {
  overflow: hidden;
}

.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.popup button:hover {
  background: #0056b3;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.active aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

.header {
  align-items: center;
  background: var(--color-red);
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  z-index: 2;
  background: rgba(168, 10, 21, 1);
  box-shadow: 0px 4px 5px 0px #00000040;
  position: sticky;
  top: 0;
}

.header-menu-desktop .header-menu-item {
  position: relative;
  display: flex;
  align-items: center;
}

.header-menu-desktop .submenu-arrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
  margin-top: 1px;
}

.menu-item-wrapper {
  display: flex;
  align-items: center;
}

.header-menu-desktop .submenu {
  display: none;
  position: absolute;
  top: 93px;
  left: 0;
  right: 0;
  background-color: rgba(168, 10, 21, 1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: max-content;
}

.header-menu-desktop .submenu li {
  list-style: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-menu-desktop .submenu li:hover a {
  color: #fede03 !important;
}

.header-menu-desktop .submenu li:last-child {
  border-bottom: 0;
}

.header-menu-desktop .submenu li a {
  text-decoration: none;
  color: black;
  height: initial !important;
  line-height: initial !important;
  padding: 10px 16px;
  display: block;
}

.header-menu-desktop .header-menu-item:hover .submenu {
  display: block;
}

.header-menu-desktop .header-menu-item:hover .submenu-arrow {
  transform: rotate(180deg);
}

.header-menu-mobile .header-menu-item {
  display: block;
  position: relative;
}

.header-menu-mobile .menu-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-mobile .submenu-arrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.header-menu-mobile .submenu-arrow.open {
  transform: rotate(180deg);
}

.header-menu-mobile .submenu {
  display: none;
  padding-left: 20px;
}

.header-menu-mobile .submenu.open {
  display: block;
}

header.header.header-scrolled {
  background: transparent;
}

.dropdown-wrap img {
  width: 30px;
}

.thank-you-btn {
  margin-top: 30px;
}

.page.thank-you {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 67.26%);
  text-align: center;
  height: calc(100vh - 413px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page.thank-you h1 {
  margin: 0;
}

.page.thank-you {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 67.26%);
  text-align: center;
  height: calc(100vh - 413px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page.thank-you h1 {
  margin: 0;
}

.page.thank-you > div {
  color: #fff;
  margin: 20px 10px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (20 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.shop-popup {
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  background-color: rgba(168, 10, 21, 1);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  right: 0;
  transform: translateY(-50%);
  padding: 40px 50px 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px 0px #00000040;
}

.shop-popup .logo {
  margin-bottom: 50px;
}

.shop-popup .logo img {
  width: 80px;
  margin: 0 auto;
}

.shop-popup .shop-inner-content h2 {
  color: #fede03;
  font-family: 'Gotham-Book';
  font-size: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.shop-popup .shop-inner-content p {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  font-family: 'Gotham-Book';
  margin: 30px 0;
}

.shop-popup-footer p {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #bbb;
}

.shop-close-btn {
  text-align: right;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

body.popup-active {
  position: relative;
}

body.popup-active:before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
}

@media (min-width: 48em) {
  .header-menu-mobile-toggle {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
}

.header-menu-desktop a {
  font-family: 'Days One', sans-serif;
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

header.header.transparent {
  background: transparent;
  box-shadow: unset;
}

.footer-menu a {
  color: var(--color-light);
}

.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;

  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;

  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

.product {
  display: grid;

  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

.article img {
  height: auto;
  width: 100%;
}

.yellow-border-btn {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-transform: capitalize;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  padding: 0.45vw 2vw;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Gotham-Medium';
  font-weight: 500;
  border: 2px solid #fede03 !important;
  text-align: center;
  position: relative;
  transition: all 0.5s ease;
  will-change: transform;
  z-index: 0;
  overflow: hidden;
  color: #fede03;
  background-color: transparent;
}

.yellow-border-btn:hover {
  background-color: #fede03;
  color: #9b2220;
  text-decoration: none;
}

.yellow-btn {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-transform: capitalize;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  padding: 0.45vw 2vw;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Gotham-Medium';
  font-weight: 500;
  border: 2px solid #fede03 !important;
  text-align: center;
  position: relative;
  transition: all 0.5s ease;
  will-change: transform;
  z-index: 0;
  overflow: hidden;
  color: #9b2220;
  background-color: #fede03;
}

.yellow-btn:hover {
  border: 2px solid transparent;
  color: #fede03;
  will-change: transform;
  text-decoration: none;
  background-color: transparent;
}

.account-logout {
  display: inline-block;
}

/* custom css start */
a.header-menu-item.active {
  text-decoration: underline;
}

.food-decorative-garland img {
  width: 100%;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
  width: auto;
  padding: 0 20px;
}

.inner-header {
  display: flex;
  align-items: center;
}

.inner-header a img {
  width: 100px;
  margin-top: 5px;
}

.header-menu-desktop {
  display: flex;
  gap: 2.1875em;
  margin-left: 2.5rem;
  padding: 0px 0;
}

.header-menu-desktop a {
  font-size: calc(
    16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))
  ) !important;
  line-height: 92px !important;
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Gotham-Book';
  font-weight: 400;
  height: 93px;
}

.header-menu-desktop a.active {
  text-decoration: underline;
}

.header {
  padding: 15px 0;
}

.header .container {
  width: 100%;
}

.header-ctas {
  grid-gap: 1.9rem;
}

nav.header-ctas a {
  color: #fff;
  position: relative;
}

nav.header-ctas a.mobile-hide {
  display: none;
}

nav.header-ctas a svg {
  width: 32px;
}

nav.header-ctas a span {
  position: absolute;
  top: -4px;
  right: -3px;
  font-size: 14px;
}

.footer {
  padding: 35px 0;
  position: relative;
  background-image: url(/app/assets/cross.png);
  background-repeat: no-repeat;
  background-color: rgba(168, 10, 21);
  background-size: cover;
  animation-play-state: paused;
  opacity: 1 !important;
  transform: none !important;
  transition: none !important;
  overflow: hidden;
}

.footer-icon a svg {
  width: 30px;
}

/* .footer .container {
	max-width: initial;
}
*/
.footer-contact .keep-wrap a {
  text-decoration: none;
}

.footer-contact .keep-wrap a:hover {
  text-decoration: none;
}

.footer-icon a:first-child {
  margin-left: 0;
}

.footer-child {
  display: flex;
}

span.yellow-head {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400 !important;
  color: #fede03;
  font-family: 'BertholdBlock';
  margin-bottom: 18px;
  display: block;
}

.footer-inner ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footer-inner ul li {
  display: block;
  margin-bottom: 10px;
  padding-right: 15px;
}

.social-footer {
  width: 23%;
  padding-left: 50px;
}

.footer-inner ul li:last-child {
  width: 53%;
}

.footer-inner ul li a {
  width: auto;
  font-weight: 400 !important;
  color: #fede03;
  font-family: 'Gotham-Book';
  font-weight: 400;
  overflow-wrap: break-word;
}

.footer-contact span,
.footer-contact a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400 !important;
  color: #fff;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.footer-contact a:hover {
  text-decoration: none;
}

.footer-contact > div {
  margin-bottom: 5px;
}

.footer-contact a {
  position: relative;
}

.footer-contact .keep-wrap a::before {
  display: none;
}

.footer-contact a::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #fff;
  bottom: 1px;
  width: 100%;
}

.footer-contact-info {
  display: flex;
  width: 35%;
  padding-left: 50px;
  justify-content: space-between;
}

.footer-sub-block {
  padding-top: 18px;
}

.footer-sub-block:nth-child(2) {
  border-right: 1px solid #fff;
  padding-right: 20px;
  padding-top: 63px;
}

.footer-icon a {
  margin: 0 14px;
  transition: 0.5s ease;
}

.footer-contact span {
  width: 100%;
  display: block;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.footer-location span {
  width: 100%;
  display: block;
  padding-bottom: 5px;
  color: #fff;
  font-family: 'Gotham-Book';
  font-weight: 400;
  max-width: 210px;
}

footer img.footer-bg-img {
  width: 200px;
}

img.footer-berline-logo {
  position: absolute;
  right: 0px;
  bottom: -10px;
  width: 155px;
}

footer img.footer-bg-img {
}

.left-block-wrap {
  display: flex;
  width: 40%;
  align-items: center;
}

.left-block-wrap .logo img {
  width: 130px !important;
}

.header-menu-mobile {
  grid-gap: 1.3rem;
}

.footer-social {
  width: 25%;
  padding-left: 30px;
}

img.mobile-logo,
img.footer-mobile-img {
  display: none;
}

select#custom-dropdown {
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50px;
  height: 35px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  appearance: none;
  background: url('/app/assets/Vector.svg') no-repeat center / contain;
  background-position: 72% 50%;
  background-size: 17px;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

select#custom-dropdown:focus-visible {
  outline: 0 !important;
}

select#custom-dropdown option {
  color: #000;
}

.footer-menu {
  padding: 6px 0px 0px 0px;
  display: initial;
  border-right: 1px solid #fff;
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 0rem;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 18px;
}

.footer-menu span.yellow-head {
  margin-bottom: 0;
  width: 100%;
}

img.footer-bg-img {
  right: 255px;
}

.footer-icon a svg:hover path {
  fill: #fede03;
}

/* / language dropdown / */
.dropdown,
.dropdown-wrap {
  position: relative;
  display: none;
}
.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Gotham-Book';
}

.dropdown-wrap::before {
  content: '';
  position: absolute;
  right: -16px;
  background: url(/app/assets/Vector.svg) no-repeat center / contain;
  width: 14px;
  height: 7px;
  top: 6px;
}

.dropdown-wrap:focus {
  outline: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #9b2220;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  color: #fff;
  /* border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	*/
}

.dropdown-item {
  padding: 4px 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Gotham-Book';
  margin-bottom: 0;
}
.dropdown-item:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.dropdown-toggle.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown-menu.active {
  display: block;
}

.food-decorative-garland {
  margin-top: -90px !important;
}

/* @media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-overflow-scrolling: touch) {
		.header-menu-desktop .header-menu-item{padding: 0 10px;}
	}} */
@media (max-width: 1500px) {
  .container {
    max-width: 1500px;
    width: auto;
  }

  .footer-sub-block:nth-child(2) {
    padding-right: 0;
  }

  img.footer-bg-img {
    width: 230px;
  }

  .left-block-wrap {
    width: 42%;
  }

  .footer-contact span,
  .footer-contact a,
  .footer-location span,
  .footer-inner ul li a {
    font-size: 14px;
  }

  .left-block-wrap {
    width: 41%;
  }

  .footer-contact-info {
    width: 33%;
    padding-left: 30px;
  }

  .footer-contact span,
  .footer-contact a,
  .footer-location span,
  .footer-inner ul li a {
    font-size: 14px;
  }

  .footer-social {
    width: 23%;
    padding-left: 30px;
  }

  .footer-location span {
    max-width: 160px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }

  .left-block-wrap .logo img {
    width: 100px !important;
  }

  .footer-contact span,
  .footer-contact a,
  .footer-location span,
  .footer-inner ul li a {
    font-size: 14px;
  }

  img.footer-berline-logo {
    bottom: -30px;
    width: 145px;
  }
}

@media (max-width: 1380px) {
  .container {
    max-width: 1170px;
  }

  span.yellow-head {
    font-size: 22px;
  }

  .footer-contact-info {
    padding-left: 20px;
  }

  img.footer-bg-img {
    width: 180px !important;
  }

  .footer-contact span,
  .footer-contact a {
    font-size: 14px;
  }

  .footer-contact-info {
    gap: 20px;
  }

  .footer-contact-info {
    width: 35%;
  }

  img.footer-berline-logo {
    width: 140px;
  }

  .food-decorative-garland {
    margin-top: -70px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1040px;
  }

  .footer-icon a svg {
    width: 27px;
  }

  .footer-icon a {
    margin-right: 5px !important;
  }

  .footer-menu {
    padding: 0;
    padding-left: 20px;
  }

  .footer-sub-block:nth-child(2) {
    padding-right: 0;
  }

  footer img.footer-bg-img {
    width: 150px !important;
  }

  .left-block-wrap {
    width: 51%;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: initial;
  }

  img.footer-bg-img {
    width: 150px;
  }

  .footer-menu {
    padding: 6px 0px 0 20px;
  }

  .footer-contact-info {
    padding-left: 20px;
  }

  span.yellow-head {
    font-size: 18px;
  }

  .footer-contact-info {
    gap: 17px;
    width: 40%;
  }

  .footer-social {
    padding-left: 30px;
  }

  .food-decorative-garland {
    margin-top: -60px !important;
  }
}

@media (max-width: 1024px) {
  .footer-sub-block:nth-child(2) {
    padding-top: 43px;
  }

  .footer-child {
    flex-wrap: wrap;
  }

  .left-block-wrap {
    width: 55%;
    display: flex;
  }

  .footer-contact-info {
    width: 39%;
    padding-left: 20px;
  }

  .footer-social {
    width: 100%;
  }

  .footer-sub-block:nth-child(2) {
    border-right: 0;
  }

  .footer-menu,
  .footer-sub-block {
    padding: 15px 0px 0 0px;
  }

  .footer-menu {
    padding: 15px 0px 0 20px;
  }

  span.yellow-head {
    margin-bottom: 10px;
  }

  img.desktop-logo {
    width: 100px;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .header-menu-desktop {
    grid-gap: 1rem;
  }

  a.mobile-hide svg {
    width: 30px;
  }

  select#custom-dropdown {
    font-size: 18px;
  }

  .header-ctas {
    grid-gap: 0.5rem;
  }

  a.header-cart svg {
    width: 30px;
    height: 30px;
  }

  .header-menu-desktop {
    margin-left: 0;
  }

  img.desktop-logo {
    width: 100px;
    margin-right: 20px;
  }

  .left-block-wrap,
  .footer-contact-info {
    width: 100%;
  }

  .left-block-wrap {
    flex-wrap: wrap;
  }

  .footer-sub-block:last-child {
    width: 100%;
  }

  .footer-menu {
    border-right: 0;
    width: 100%;
  }

  .footer-contact-info {
    justify-content: initial;
  }

  .footer-contact-info .footer-sub-block {
    width: 56%;
  }

  img.footer-bg-img {
    width: 140px;
  }

  /* .language-switcher {
    width: 87px;
  } */

  .footer-contact span,
  .footer-contact a,
  .footer-location span,
  .footer-inner ul li a {
    font-size: 14px;
  }

  .footer-inner ul {
    width: 100%;
  }

  .footer {
    padding: 40px 0;
    box-shadow: 0px -4px 20px 0px #00000040;
  }

  .food-decorative-garland {
    margin-top: -40px !important;
  }

  .inner-header a img {
    width: 85px;
  }

  .dropdown-toggle::before {
    right: 14px;
  }

  .dropdown-toggle {
    padding: 2px 30px 2px 15px;
    font-size: 16px;
  }

  .header-menu-desktop a {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  .header-menu-desktop {
    grid-gap: 1.1875em;
  }
}

@media (max-width: 767px) {
  .route-error .thank-you-btn {
    margin-top: 10px;
  }

  .route-error h1 {
    margin-bottom: 10px;
    margin-top: 0rem;
  }

  .route-error {
    padding: 0;
  }

  .shop-popup {
    width: 90%;
    max-width: 70%;
  }

  .footer-sub-block:nth-child(2) {
    padding-top: 20px;
  }

  .footer-inner ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .yellow-btn {
    min-width: 80px;
    border-radius: 5px;
  }

  .yellow-border-btn {
    border-radius: 5px;
  }

  .yellow-btn:after {
    border-radius: 1px;
  }

  #mobile-menu-aside {
    z-index: 999999999;
  }

  .load-pre {
    margin-bottom: 0;
  }

  .header-menu-mobile a {
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 25px !important;
    pointer-events: inherit !important;
    display: block;
    width: 100%;
    /* border: 1px solid #fff; */
  }

  img.mobile-logo,
  img.footer-mobile-img {
    display: block;
  }

  img.footer-bg-img,
  a.mobile-hide {
    display: none;
  }

  img.footer-mobile-img {
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 13px;
  }

  .footer .container {
    padding: 0 30px;
  }

  img.desktop-logo {
    display: none;
  }

  nav.header-ctas {
    width: 100%;
    justify-content: space-between;
  }

  img.mobile-logo {
    width: 70px;
  }

  .header {
    padding: 0;
  }

  .left-block-wrap .logo img {
    width: 100px !important;
  }

  .footer-menu span.yellow-head {
    margin-bottom: 15px;
  }

  .footer-menu {
    padding: 15px 0px 0 0px;
  }

  .footer-child .logo {
    padding-left: 20px;
  }

  img.footer-bg-img {
    display: block;
  }

  .left-block-wrap .logo img {
    margin-left: -30px;
    width: 180px;
  }

  .left-block-wrap {
    flex-wrap: wrap;
  }

  .left-block-wrap {
    width: 100%;
  }

  .header {
    z-index: 999;
  }

  aside header .close {
    color: #fff;
  }

  aside header {
    border-bottom: 1px solid #fff;
    justify-content: end;
  }

  .footer-menu {
    border-right: 0;
  }

  .footer-contact-info {
    padding-left: 0;
    gap: 0;
    padding-top: 18px;
    flex-wrap: wrap;
    width: 100%;
  }

  nav.header-menu-desktop {
    display: none;
  }

  .language-switcher {
    display: none;
  }

  aside header h3 {
    font-size: 20px;
    line-height: 20px;
    font-family: Days One, sans-serif;
  }

  .header-menu-mobile a {
    font-size: 18px;
    line-height: 18px;
    font-family: Days One, sans-serif;
    color: #fff !important;
  }

  .footer-inner ul li:last-child {
    margin-bottom: 0;
  }

  .footer-menu {
    border-bottom: 0;
    grid-gap: 0;
  }

  .footer-location span {
    padding-bottom: 10px;
  }

  span.yellow-head,
  .footer-flex.footer-icon {
    display: none;
  }

  .footer-sub-block.footer-social {
    margin: 0;
    padding: 0;
    opacity: 1 !important;
    transform: initial !important;
  }

  img.footer-berline-logo {
    right: 0px;
    bottom: 10px;
  }

  span.yellow-head {
    margin-bottom: 15px;
    width: 100%;
  }

  .footer-contact > div {
    margin-bottom: 5px;
  }

  .footer-inner ul li {
    margin-bottom: 10px;
    padding-right: 0;
  }

  .footer-sub-block {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-sub-block:first-child {
    margin-bottom: 18px;
  }

  .footer-location span:last-child {
    padding-bottom: 0;
  }

  .footer-inner ul li {
    width: 100%;
  }

  img.footer-bg-img {
    right: -59px;
    bottom: 20px;
    width: 225px;
  }

  .footer {
    padding: 25px 0 20px;
    overflow: hidden;
  }

  .footer-contact span,
  .footer-contact a,
  .footer-location span,
  .footer-inner ul li a {
    line-height: 18px;
  }

  aside header .close {
    font-size: 40px;
    font-weight: normal;
  }

  nav.header-ctas a span {
    top: -9px;
  }

  a.header-cart {
    top: 4px;
  }

  .dropdown {
    display: none;
  }

  .food-decorative-garland {
    margin-top: -25px !important;
  }
}

@media (max-width: 480px) {
  aside {
    min-width: 300px;
    max-width: 300px;
  }

  .food-decorative-garland {
    margin-top: -15px !important;
  }
}
.shopify-pc__banner__dialog {
  background-color: #9b2220 !important;
}
.shopify-pc__banner__body p {
  color: #fff !important;
}
.shopify-pc__banner__body h2,
.shopify-pc__banner__body a {
  color: #fede03 !important;
}
.shopify-pc__banner__btn-accept {
  background-color: #fede03 !important;
  color: #9b2220 !important;
  border: 2px solid #fede03 !important;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.shopify-pc__banner__btn-decline {
  background-color: transparent !important;
  border: 2px solid #fede03 !important;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #fede03 !important;
}
.shopify-pc__banner__btn-manage-prefs {
  color: #fede03 !important;
}
.shopify-pc__prefs__dialog {
  background-color: #9b2220 !important;
  color: #fff !important;
}
.shopify-pc__prefs__dialog header h2,
.shopify-pc__prefs__intro-main h3,
.shopify-pc__prefs__option label {
  color: #fede03 !important;
}
.shopify-pc__prefs__scrollable p {
  color: #fff !important;
}

.shopify-pc__prefs__header-close svg path {
  fill: #fff !important;
}
label[for='shopify-pc__prefs__preferences-input'] span svg path,
label[for='shopify-pc__prefs__marketing-input'] span svg path,
label[for='shopify-pc__prefs__analytics-input'] span svg path {
  fill: #fede03 !important;
}

