::placeholder {
  color: #00000040;
}

::-ms-input-placeholder {
  color: #00000040;
}

input[type='date']:invalid::-webkit-datetime-edit {
  color: #00000040;
}

.img-big-wrap {
  position: relative;
  height: auto;
  width: calc(100% / 2);
}

.img-one {
  width: 100%;
  background: #fff;
  position: relative;
  height: 100%;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding-bottom: 30px;
  transform: rotate(7deg);
}

.img-one:before {
  content: '';
  position: absolute;
  top: -50px;
  background: url(/app/assets/pushpin.svg) no-repeat center / contain;
  left: 0px;
  right: 0;
  width: 60px;
  height: 94px;
  margin: 0 auto;
  background-size: 100%;
  transform: rotate(8deg);
}

.inner-white-box {
  padding: 10px;
  margin-top: 0px;
}

.img-one img {
  width: 100%;
}

.catering-cta-form-page .inner-content p {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #1d1d1d;
  font-family: 'BertholdBlock';
  text-align: center;
}

.catering-cta-form-page {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 67.26%);
}

.form-sticky {
  position: sticky;
  top: 100px;
}

.contact-top-block {
  display: flex;
  padding-top: 50px;
  padding-bottom: 146px;
}

.contact-top-block .left-title {
  width: 53%;
}

.c-border {
  border-bottom: 1px solid #fff;
}

.contact-top-block .left-title h1 {
  text-transform: uppercase;
  margin-bottom: 150px;
  margin-top: 0;
}

.contact-top-block .right-img {
  width: 47%;
  margin-top: 30px;
}

.contact-top-block .right-img img {
  width: 100%;
}

.contact-top-block .img-big-wrap:nth-child(1) .img-one {
  transform: rotate(-15deg);
}

.curywolf-catering-box {
  display: flex;
  margin-right: 30px;
}

.contact-top-block .img-big-wrap a {
  text-decoration: none;
}

.contact-form {
  width: 100%;
  padding-bottom: 100px;
  max-width: initial;
  display: flex;
}

.contact-form form {
  max-width: initial;
}

.c-left-form {
  width: 60%;
  background: #a80a15;
  box-shadow: 0px 4px 10px 0px #00000040;
  padding: 55px 46px 55px;
  border-radius: 20px;
}

.right-c-address {
  width: 40%;
  padding-left: 156px;
}

.right-box {
  display: flex;
  column-gap: 18px;
  margin-bottom: 26px;
}

.right-box .c-left {
  width: 68px;
  background: linear-gradient(0deg, #fede03, #fede03),
    radial-gradient(
        63.11% 63.11% at 31.97% 19.67%,
        rgba(255, 255, 255, 0.63) 0%,
        rgba(255, 255, 255, 0) 69.79%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 4px 5px 15px 0px #00000040;
  box-shadow: -3px -4px 7px 0px #ffffff26 inset;
  height: 63px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-box .c-right {
  width: calc(100% - 68px);
}

.right-box .c-right h3 {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  margin-bottom: 16px;
  font-family: 'BertholdBlock';
  margin-top: 20px;
}

.right-box .c-right p,
.right-box .c-right p a {
  font-family: 'Gotham-Book';
  max-width: 230px;
  color: #fff;
  transition: 0.5s ease;
}

.right-box .c-right p a:hover {
  text-decoration: none;
  color: #fede03;
}

.form-detail {
  width: 100%;
  padding-bottom: 45px;
}

.form-group-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

.form-group {
  width: calc(100% / 2 - 40px);
  margin-bottom: 40px;
}

.sub-btn button {
  cursor: pointer;
}

.c-left-form form .form-group label {
  display: flex;
  align-items: flex-start;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
  color: #fff;
  width: 100%;
  padding-bottom: 7px;
}

.c-left-form form .form-group input.form-text {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  height: 31px;
  background-color: #fff;
  width: 100%;
  border: 0;
  font-family: 'Gotham-Book';
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.c-left-form form .form-group input.form-text::placeholder {
  font-family: 'Gotham-Medium';
  color: #00000040;
}

.c-left-form form .form-group input.form-text:focus-visible,
.sub-btn button:focus-visible {
  outline: 0;
}

.step-indicator-container {
  text-align: center;
  padding-bottom: 40px;
}

.step-indicator-container .step-indicator {
  color: #fff;
  margin-bottom: 10px;
}

.step-indicator-container .step-indicator span {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Gotham-Book';
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-indicator-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: transparent;
  margin: 0 5px;
  border: 1px solid #fff;
}

.step-indicator-circle.active {
  background-color: #fff;
}

.form-main-wrap {
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

.form-main-wrap .form-detail p {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.form-checkbox-wrap h3 {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
  color: #fff;
  margin: 0 0 30px 0;
}

.c-left-form form .form-group {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.c-left-form form .form-group input.form-text:focus-visible,
.c-left-form form .form-group textarea.form-textarea:focus-visible {
  outline: 0 !important;
}

.c-left-form form .form-group input.form-checkbox,
.c-left-form form .form-last-box .form-group:last-child input.form-checkbox {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.c-left-form form .form-checkbox-wrap .form-group input[type='checkbox'],
.c-left-form form .form-last-box .form-group:last-child input[type='checkbox'] {
  display: none;
}

.c-left-form form .form-checkbox-wrap .form-group label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.c-left-form form .form-checkbox-wrap .form-group label:before,
.c-left-form form .form-last-box .form-group:last-child label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 3px;
  padding: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.form-last-box .form-group-container .form-group:last-child label {
  display: initial;
}

.form-last-box .form-group-container .form-group:last-child label a {
  color: #fff;
  text-decoration: underline;
}

.c-left-form
  form
  .form-checkbox-wrap
  .form-group
  input[type='checkbox']:checked
  + label:before,
.c-left-form
  form
  .form-last-box
  .form-group:last-child
  input[type='checkbox']:checked
  + label:before {
  background-color: #fede03;
  border-color: #9b2220;
}

.c-left-form
  form
  .form-checkbox-wrap
  .form-group
  input[type='checkbox']:checked
  + label:after,
.c-left-form
  form
  .form-last-box
  .form-group:last-child
  input[type='checkbox']:checked
  + label:after {
  content: '\2713';
  font-size: 14px;
  color: #9b2220;
  position: absolute;
  top: 0px;
  left: 5px;
}

.contact-form
  .form-main-wrap.checkbox-sec
  .form-group-container
  .form-checkbox-wrap
  .form-group {
  margin-bottom: 15px;
}
.form-group.star {
  position: relative;
}
.form-group.star::after {
  content: '*';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 25%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  color: #fede03;
  font-size: 25px;
  line-height: 15px;
  text-align: center;
}
.star-content {
  position: relative;
}
.star-content::after {
  content: '*';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 25%;
  left: -4px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  color: #fede03;
  font-size: 25px;
  line-height: 15px;
  text-align: center;
}
.star-content {
  color: #fff;
  margin-top: 20px;
  font-family: 'Gotham-Book';
  font-size: 14px;
}

.c-left-form form .form-checkbox-wrap .form-group label,
.c-left-form form .form-last-box .form-group:last-child label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}

.contact-form
  .form-main-wrap.checkbox-sec
  .form-group-container
  .form-checkbox-wrap {
  width: 40%;
}

.contact-form
  .form-main-wrap.checkbox-sec
  .form-group-container
  .form-checkbox-wrap:nth-child(even) {
  width: 60%;
}

.contact-form .form-main-wrap.checkbox-sec .form-group-container {
  column-gap: initial;
  row-gap: 60px;
}

.contact-form .form-main-wrap.checkbox-sec .form-group-container .form-group {
  width: 100%;
}

.contact-form
  .form-main-wrap.checkbox-sec
  .form-group-container
  .form-checkbox-wrap
  label {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'Gotham-Book';
}

.c-left-form form .form-group textarea.form-textarea {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  height: 195px;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #000;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  padding: 1.25rem;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.date-wrap {
  display: flex;
  column-gap: 30px;
}

.date-wrap .form-group {
  width: 70%;
}

.main-d-wrap {
  width: 100%;
  display: flex;
  column-gap: 30px;
}

.catering-second-box .form-group:nth-child(3) input.form-text {
  width: 141px;
}

.form-main-wrap.checkbox-sec {
  padding-bottom: 30px;
}

.form-last-box .form-group-container .form-group:first-child label {
  margin-bottom: 15px;
}

.form-last-box .form-group-container {
  display: initial;
}

.form-last-box .form-group-container .form-group {
  width: 100%;
}

.c-left-form form .form-last-box .form-group:last-child label {
  padding-bottom: 20px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.form-main-wrap.form-last-box {
  border-bottom: 0;
  margin-bottom: 0;
}

.c-left-form form .form-last-box .form-group:last-child label {
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.form-last-box .form-group-container .form-group:last-child {
  width: 100%;
}

.c-form-submit button {
  cursor: pointer;
}

@media (max-width: 1920px) {
  .contact-top-block .right-img {
    width: 50%;
  }
}

@media (max-width: 1700px) {
  .curywolf-catering-box {
    max-width: 480px;
    margin-right: 0;
    margin: 0 auto;
  }

  .contact-top-block .right-img {
    margin-top: 20px;
  }

  .img-one {
    padding-bottom: 20px;
  }

  .contact-top-block .img-one:before {
    width: 50px;
  }
}

@media (max-width: 1440px) {
  .contact-top-block .right-img {
    width: 47%;
  }
}

@media (max-width: 1380px) {
}

@media (max-width: 1440px) {
  .right-c-address {
    padding-left: 75px;
  }

  .contact-form {
    margin-bottom: 0px;
  }
}

@media (max-width: 1199px) {
  .c-left-form form .form-group input.form-text {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .contact-top-block .left-title h1 {
    margin-bottom: 60px;
  }

  .contact-top-block {
    padding-bottom: 80px;
  }

  .contact-form {
    flex-direction: column;
  }

  .c-left-form {
    width: 100%;
    margin-bottom: 30px;
  }

  .right-c-address {
    width: 100%;
    padding-left: 0;
  }

  .c-left-form {
    width: auto;
  }
  .c-left-form
    form
    .form-checkbox-wrap
    .form-group
    input[type='checkbox']:checked
    + label:after,
  .c-left-form
    form
    .form-last-box
    .form-group:last-child
    input[type='checkbox']:checked
    + label:after {
    top: 3px;
  }
  .form-last-box .form-group input[type='checkbox']:checked + label:before,
  .c-left-form
    form
    .form-last-box
    .form-group:last-child
    input[type='checkbox']:checked
    + label:before {
    top: 2px;
  }
}

@media (max-width: 767px) {
  .contact-top-block .left-title {
    width: 100%;
    margin-top: -50px;
  }

  .contact-top-block {
    flex-direction: column-reverse;
  }

  .contact-top-block .right-img img {
    width: 100%;
  }

  .contact-top-block .right-img {
    width: 100%;
    margin-bottom: 130px;
    margin-top: 0;
    text-align: center;
  }

  .c-left-form {
    padding: 30px 15px 30px;
  }

  .contact-top-block {
    padding-bottom: 60px;
  }

  .right-box .c-right h3 {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .right-box .c-left {
    width: 58px;
    height: 53px;
  }

  .contact-top-block .left-title h1 {
    word-break: break-all;
  }

  .go-back-pro-btn .yellow-btn {
    width: 317px;
    padding: 6px 6px;
    font-size: 16px;
    border-radius: 5px;
  }
}

@media (max-width: 575px) {
  .form-group {
    width: 100%;
  }

  .c-left-form form .form-group {
    flex-wrap: wrap;
  }

  .main-d-wrap {
    flex-wrap: wrap;
  }

  .date-wrap {
    flex-wrap: wrap;
  }

  .c-left-form form .form-group,
  .catering-second-box .form-group:nth-child(3) input.form-text {
    width: 100%;
  }

  .contact-form .form-main-wrap.checkbox-sec .form-group-container {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .contact-form
    .form-main-wrap.checkbox-sec
    .form-group-container
    .form-checkbox-wrap:nth-child(even),
  .contact-form
    .form-main-wrap.checkbox-sec
    .form-group-container
    .form-checkbox-wrap {
    width: 100%;
  }

  .contact-top-block .img-one:before {
    width: 40px;
  }
}
