main {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 44.72%);
  margin-top: 0;
  overflow: hidden;
}

.collection small,
.collection small a,
.collection .tax-hint span,
.collection .c-weight,
.collection .unit-price {
  color: #fff !important;
  font-size: 11px !important;
  font-family: 'Gotham-Book' !important;
}

.collection small {
  display: block;
  padding-bottom: 4px;
}

.collection .c-weight {
  padding-bottom: 2px;
}

.collection .products-grid .product-g-wrap .tax-hint span {
  height: initial;
}

.collection .products-grid .product-g-wrap small a {
  margin: auto;
}

.collection .products-grid .product-g-wrap .tax-hint .cart-btn span {
  color: #9b2220 !important;
  font-size: 16px !important;
  font-family: 'Gotham-Medium' !important;
  min-height: initial;
  text-transform: initial;
}

.collection .cart-btn {
  margin-top: 20px;
}

.products-grid .product-g-wrap .tax-hint .cart-btn span:hover {
  color: #fede03 !important;
}

.collection .unit-price {
  display: flex;
  justify-content: center;
}
.previous-button {
  margin-top: 20px;
}
.pro-wrap-c {
  padding-bottom: 5px;
}

.food-decorative-garland img {
  width: 100%;
}

.collection {
  position: relative;
}

.collection nav {
  max-width: max-content;
  margin: 0 auto;
  border-radius: 25px;
  padding: 11px 0px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  box-shadow: 4px 5px 15px 0px #00000040;
}

.collection nav ul {
  display: flex;
  justify-content: center;
}

.collection nav ul li {
  margin-bottom: 0;
  padding: 0 23px;
}

.collection nav ul li a {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'Gotham-Book';
  font-weight: 600;
  color: #9b2220;
  position: relative;
}

.collection nav ul li a.active {
  border-bottom: 1px solid #9b2220;
}

.collection nav ul li a:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #9b2220;
}

.collection nav ul li a:hover {
  text-decoration: none;
}

.collection-banner img {
  width: 660px;
}

.collection-banner {
  overflow: hidden;
  white-space: nowrap;
  min-height: 375px;
}

.collection-banner h1 {
  color: #fff;
  font-family: 'BertholdBlock';
  margin: 0;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  animation: scrolling 10s linear infinite;
  display: inline-block;
}

.benifits .container .benifits-inner-wrap {
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.products-grid .container,
.collection-logo-sec .container {
  max-width: 1500px;
  margin: 0 auto;
}

.collection-banner {
  position: relative;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 30px;
}

nav.collection-menu.aos-init.aos-animate {
  margin-top: 90px;
  background: #fede03;
}

.benifits h4 {
  font-family: 'BertholdBlock';
  color: #fff;
  margin-bottom: 40px;
  text-align: left;
}

.benifits .benifits-content h4 {
  max-width: 100%;
  margin: 12px 0;
  height: initial;
  text-align: left;
}

.benifits-content {
  font-size: 18px;
  line-height: 21px;
  font-family: 'Gotham-Book';
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: start;
}

.banifits-wrap {
  display: flex;
  column-gap: 12px;
}

.banifits-wrap .benifits-content {
  width: 33.33%;
  text-align: left;
  min-height: 130px;
}

.benifits-content img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.benifits-content:nth-child(2) img {
  width: 80px;
  height: 80px;
}

.banifits-wrap .benifits-content p {
  color: #ffff;
  max-width: 210px;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.products-grid {
  padding: 80px 0 40px;
  margin-bottom: 0;
}

.products-grid .product-g-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 -107px;
  row-gap: 100px;
}

.products-grid .product-g-wrap a {
  width: calc(100% / 3 - 217px);
  text-decoration: none;
  position: relative;
  margin: 0 107px;
}

.products-grid .product-g-wrap a img {
  border-radius: 50px;
}

.products-grid .product-g-wrap h4,
.products-grid .product-g-wrap .c-price-range {
  color: #fff;
  margin-top: 20px;
  font-family: 'BertholdBlock';
}

.products-grid .product-g-wrap span {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (18 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  font-family: 'Gotham-Book';
  font-weight: 400;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 43px;
}

.products-grid .product-g-wrap small > div {
  margin-top: 0;
}

.c-price-range {
  max-width: 247px;
  margin: 0 auto 20px;
  border-top: 1px solid #fff;
  margin-top: 5px !important;
  padding-top: 10px;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (20 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.c-price-range > div {
  margin-top: 15px;
}
.collection-badge {
  background: radial-gradient(
      63.11% 63.11% at 31.97% 19.67%,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    )
    rgba(254, 222, 3, 1);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -30px;
  box-shadow: 4px 5px 15px 0px #00000040;
  top: -31px;
}

.collection-badge p {
  font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
  color: #000;
}

.products-grid .product-g-wrap .cart-btn span {
  color: #9b2220;
  font-family: 'Gotham-Medium';
  min-width: initial;
  padding: 7px 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  min-height: initial;
  display: initial;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.products-grid .product-g-wrap .cart-btn span:hover {
  color: #fede03;
}

.collection-logo-sec .container .c-logo-wrap {
  border-top: 1px solid #fff;
  /* padding: 0; */
}

.collection-logo-sec .c-logo-wrap {
  padding: 83px 0 75px;
  display: flex;
}

.products-grid .container {
  padding: 0 20px;
}

.collection-logo-sec .c-logo-wrap .left-l {
  width: 60%;
}

.collection-logo-sec .c-logo-wrap .left-l h4 {
  color: #fff;
  font-family: 'BertholdBlock';
  margin-bottom: 45px;
}

.collection-logo-sec .c-logo-wrap .left-l p {
  color: #fff;
  font-family: 'Gotham-Book';
  font-weight: 400;
  max-width: 658px;
}

.collection-logo-sec .c-logo-wrap .right-l {
  width: 40%;
}

.collection-logo-sec .c-logo-wrap .right-l .c-right-wrap {
  display: flex;
}

.collection-logo-sec .c-logo-wrap .right-l .c-right-wrap .right-inner {
  display: flex;
  align-items: center;
  width: 50%;
}

.collection-logo-sec
  .c-logo-wrap
  .right-l
  .c-right-wrap
  .right-inner:nth-child(1)
  .l-logo
  img {
  width: 100px;
}

.collection-logo-sec
  .c-logo-wrap
  .right-l
  .c-right-wrap
  .right-inner:nth-child(2)
  .l-logo
  img {
  height: 70px;
}

.collection-logo-sec
  .c-logo-wrap
  .right-l
  .c-right-wrap
  .right-inner
  .r-content {
  padding-left: 15px;
}

.collection-logo-sec
  .c-logo-wrap
  .right-l
  .c-right-wrap
  .right-inner
  .r-content
  p {
  max-width: 136px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  font-family: 'BertholdBlock';
  margin-top: 0;
}

.collection-logo-sec .c-logo-wrap .right-l p {
  color: #fff;
  font-family: 'Gotham-Book';
  font-weight: 400;
  margin-top: 36px;
  max-width: 630px;
}

.collection-logo-sec
  .c-logo-wrap
  .right-l
  .c-right-wrap
  .right-inner:last-child {
  justify-content: end;
}

.loadmore-button {
  text-align: center;
  margin-bottom: 25px;
}

.previous-button .yellow-btn {
  width: max-content;
}

.loadmore-button a span:hover {
  transform: scale(1.2);
}

.products-grid .product-g-wrap h4 {
  color: #fede03;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 63px;
}

@keyframes scrolling {
  0% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateX(80%);
  }
}

@media (max-width: 1900px) {
  .collection-banner {
    margin-top: 40px;
  }
}

@media (max-width: 1700px) {
  .collection-banner {
    margin-top: 70px;
  }
}

@media (max-width: 1540px) {
  .benifits .container {
    padding: 73px 0px;
    padding: 0 20px;
  }
}

@media (max-width: 1440px) {
  .benifits-content img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .products-grid .container,
  .collection-logo-sec .container {
    max-width: 1340px;
  }

  .collection-banner {
    margin-top: 100px;
  }

  .products-grid .product-g-wrap h4 {
    height: 55px;
  }

  .banifits-wrap .benifits-content:nth-child(2) img {
    width: 75px;
  }
}

@media (max-width: 1380px) {
  .benifits .container,
  .collection-logo-sec .container {
    max-width: 1170px;
    margin: 0 auto;
  }

  .products-grid .product-g-wrap {
    margin: 0 -77px;
  }

  .collection-logo-sec
    .c-logo-wrap
    .right-l
    .c-right-wrap
    .right-inner
    .r-content
    p {
    font-size: 16px;
  }

  .collection-badge {
    width: 90px;
    height: 88px;
  }
}

@media (max-width: 1199px) {
  .collection-banner {
    margin-top: 140px;
  }

  .products-grid .product-g-wrap a {
    margin: 0 77px;
    width: calc(100% / 3 - 165px);
  }

  .collection-logo-sec .c-logo-wrap .right-l .c-right-wrap {
    flex-direction: column;
  }

  .collection-logo-sec
    .c-logo-wrap
    .right-l
    .c-right-wrap
    .right-inner:last-child {
    justify-content: flex-start;
  }

  .collection-logo-sec .c-logo-wrap .right-l .c-right-wrap .right-inner {
    width: 100%;
  }

  .collection-logo-sec .c-logo-wrap .right-l p {
    margin-top: 16px;
  }

  .collection-logo-sec .c-logo-wrap .right-l .c-right-wrap .right-inner.l-logo {
    width: 130px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .collection-logo-sec .c-logo-wrap {
    flex-wrap: wrap;
  }

  .collection-logo-sec .c-logo-wrap .left-l,
  .collection-logo-sec .c-logo-wrap .right-l {
    width: 100%;
  }

  .collection-logo-sec .c-logo-wrap .right-l {
    margin-top: 30px;
  }

  .collection nav ul li a {
    font-size: 16px;
  }

  .benifits .benifits-content h4 {
    height: initial !important;
  }

  .collection nav {
    padding: 6px 0px;
    top: 110px;
    position: initial;
  }

  .banifits-wrap {
    flex-wrap: wrap;
    gap: 10px;
  }

  .banifits-wrap .benifits-content p {
    max-width: initial;
  }

  .benifits .benifits-content h4 {
    max-width: initial;
  }

  .banifits-wrap .benifits-content {
    width: 49%;
    margin-bottom: 30px;
  }

  .benifits .container .benifits-inner-wrap,
  .collection-logo-sec .c-logo-wrap {
    padding: 33px 0;
  }

  .products-grid .product-g-wrap a {
    width: calc(100% / 2 - 60px);
    margin: 0 30px;
  }

  .products-grid .product-g-wrap {
    margin: 0;
  }

  .collection-logo-sec .c-logo-wrap .left-l p,
  .collection-logo-sec .c-logo-wrap .right-l p {
    max-width: initial;
  }

  .collection-logo-sec .c-logo-wrap .right-l .c-right-wrap {
    width: 80%;
    flex-direction: initial;
  }

  .collection-logo-sec .c-logo-wrap .left-l h4 {
    margin-bottom: 35px;
  }

  .products-grid {
    padding: 73px 0 0;
  }

  .collection-banner h1 {
    font-size: 80px;
    line-height: 80px;
  }

  .collection-banner img {
    width: 70%;
  }

  .collection-banner {
    margin-top: 30px;
    padding-bottom: 0;
  }

  nav.collection-menu.aos-init.aos-animate {
    margin-top: 10px;
  }

  .collection nav ul li {
    padding: 0 18px;
  }

  .products-grid .product-g-wrap a img {
    border-radius: 10px;
  }

  .products-grid .product-g-wrap {
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .collection-banner h1 {
    font-size: 32px;
    line-height: 28px;
    position: absolute;
    font-family: 'RubikOne-Regular';
    top: 41%;
  }

  /* .collection-banner img {
       width: 292px;
    } */

  .collection-banner {
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .collection nav ul li a {
    font-size: 14px;
  }

  .collection nav {
    max-width: initial;
    margin: 0 20px 25px;
    position: initial;
    border-radius: 10px;
  }

  .products-grid .product-g-wrap {
    margin: 0;
    column-gap: 60px;
    justify-content: center;
  }

  .products-grid .product-g-wrap a {
    width: 42%;
    margin: 0;
  }

  .collection-badge {
    width: 45px;
    height: 45px;
    right: -17px;
    top: -23px;
  }

  .products-grid .product-g-wrap h4,
  .products-grid .product-g-wrap .c-price-range {
    margin-top: 20px;
  }

  .collection nav ul li {
    padding: 0 6px;
  }

  .products-grid .product-g-wrap h4,
  .products-grid .product-g-wrap .c-price-range {
    font-family: 'Neue-Haas-Grotesk-Display-Pro';
  }

  .c-price-range > div {
    font-size: 14px;
    margin-top: 10px;
  }

  .products-grid .product-g-wrap .cart-btn span {
    border-radius: 5px;
    font-size: 14px;
  }

  .loadmore-button .yellow-btn {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  .products-grid .product-g-wrap .cart-btn span {
    padding: 2px 5px;
    font-family: 'Chivo-Regular';
  }

  .products-grid .product-g-wrap a img {
    border-radius: 10px;
  }

  .products-grid .container {
    padding: 0;
  }

  .c-price-range {
    margin: 0 auto 10px;
    margin-top: 15px !important;
  }

  .products-grid {
    padding: 50px 0 0;
  }

  .banifits-wrap .benifits-content img {
    width: 50px;
  }

  .products-grid .product-g-wrap {
    row-gap: 50px;
  }

  .collection-banner {
    min-height: 145px;
  }
}

@media (max-width: 575px) {
  .collection-logo-sec .c-logo-wrap .right-l .c-right-wrap {
    width: 100%;
    flex-direction: column;
  }

  .collection-logo-sec
    .c-logo-wrap
    .right-l
    .c-right-wrap
    .right-inner
    .l-logo {
    width: 130px;
    text-align: center;
  }

  .collection-logo-sec
    .c-logo-wrap
    .right-l
    .c-right-wrap
    .right-inner
    .r-content
    p {
    max-width: initial;
  }

  .collection nav ul {
    gap: 0;
    flex-wrap: wrap;
  }

  .benifits h4 {
    text-align: center;
    margin-bottom: 40px;
  }

  .banifits-wrap .benifits-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collection-banner {
    margin-top: 10px;
    padding-bottom: 0;
  }

  .benifits .container .benifits-inner-wrap {
    padding: 33px 0 10px;
  }

  .banifits-wrap .benifits-content h4,
  .banifits-wrap .benifits-content p {
    text-align: center;
  }

  .banifits-wrap .benifits-content:nth-child(2) img {
    width: 70px;
  }
}

@media (max-width: 480px) {
  .collection nav {
    top: 90px;
  }

  .collection nav ul li a {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .products-grid .product-g-wrap a {
    width: 100%;
  }

  .products-grid .product-g-wrap {
    column-gap: 0;
  }

  .products-grid .container {
    padding: 0 20px;
  }

  .products-grid .product-g-wrap {
    margin: 0;
    column-gap: 60px;
    justify-content: left;
  }

  .collection .container {
    padding: 0;
  }

  .benifits .container,
  .collection-logo-sec .container,
  .products-grid .container {
    padding: 0 20px;
  }

  .products-grid .product-g-wrap a img {
    width: 70% !important;
  }

  .collection nav ul li {
    padding: 0 4px;
  }

  .collection nav ul li a {
    font-size: 12px;
  }

  .collection-badge {
    right: 30px;
  }
}

@media (max-width: 350px) {
  .products-grid .product-g-wrap a {
    width: 89%;
  }

  .collection-badge {
    right: 2px;
  }
}
