video#bgVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: 0;
}
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}
.index-wrapper section:nth-child(1) {
  height: 100vh;
}
.first-time-video-text h1 span:nth-child(1) {
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.first-time-video-text h1 span:nth-child(2) {
  display: block;
  max-width: 910px;
  line-height: calc(30px + (85 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.first-time-video-text h1 img {
  width: 111px;
}
.first-time-video-text h1,
.second-time-video-text h2 {
  font-family: 'BertholdBlock';
  color: #fff;
}
.c-s-image-section {
  display: flex;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  gap: 20px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.img-big-wrap {
  width: calc(100% / 3 - 10px);
  position: relative;
  height: 100%;
  padding-bottom: 0px;
  width: 33.33%;
}

.img-one {
  width: 100%;
  background: #fff;
  position: relative;
  height: 100%;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding-bottom: 55px;
}

.img-one img {
  width: 100%;
}

.video-overlay.visible {
  opacity: 1;
}

.inner-white-box {
  padding: 10px;
  margin-top: 0px;
}

a.yellow-btn {
  text-decoration: none;
}

.transparent .video-sec {
  position: relative;
}

.b-title {
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(155, 34, 32, 0.9);
  transition: opacity 1.5s ease-in-out;
  pointer-events: auto;
  opacity: 0;
  mix-blend-mode: multiply;
}

.index-wrapper section {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  view-timeline: --section;
  overflow: hidden;
  padding: 0;
}

.first-time-video-text h1,
.second-time-video-text h2 {
  color: #fff;
}

.first-time-video-text h1 {
  -webkit-animation: zoom-in-up 1s ease-out;
  -moz-animation: zoom-in-up 1s ease-out;
  -ms-animation: zoom-in-up 1s ease-out;
  -o-animation: zoom-in-up 1s ease-out;
  animation: zoom-in-up 1s ease-out;
  margin: 0;
}

.second-time-video-text h2 {
  text-align: left;
  max-width: 1010px;
  margin: 0 auto;
  padding-top: 70px;
  font-size: calc(32px + (95 - 30) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(40px + (95 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.c-s-image-section {
  display: flex;
  justify-content: center;
  max-width: 1194px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  gap: 20px;
  margin-top: 90px;
  margin-bottom: 70px;
}

.img-one:before {
  content: '';
  position: absolute;
  top: -50px;
  background: url(/app/assets/pushpin-2.svg) no-repeat center / contain;
  left: 0px;
  right: 0;
  width: 65px;
  height: 94px;
  margin: 0 auto;
  background-size: 100%;
  transform: rotate(8deg);
}

.img-big-wrap:nth-child(2) .img-one::before {
  background: url(/app/assets/pushpin.svg) no-repeat center / contain;
  width: 65px;
  height: 94px;
  top: -52px;
}

.img-big-wrap:nth-child(1) .img-one {
  z-index: 1;
  transform: rotate(-9deg);
  margin-top: 30px;
  margin-left: 3px;
}

.img-big-wrap:nth-child(2) .img-one {
  transform: rotate(7deg);
  margin-top: 50px;
  margin-left: -5px;
}

.img-big-wrap:nth-child(3) .img-one {
  transform: rotate(-10deg);
  margin-top: -30px;
  margin-left: -20px;
  z-index: -1;
}

.c-s-btn {
  text-align: center;
  margin-bottom: 80px;
}

.hungry-wolf-sec {
  display: flex;
  justify-content: center;
  padding: 0px 0 50px;
}

.food-decorative-garland img {
  width: 100%;
}

.hungry-wolf-sec .h-w-box {
  width: calc(100% / 3 - 0px);
  text-align: center;
  position: relative;
}

.hungry-wolf-sec .h-w-box:before {
  content: '';
  position: absolute;
  right: 0;
  border-right: 1px solid #fff;
  height: 238px;
  top: 43px;
}

.hungry-wolf-sec .h-w-box:last-child:before {
  border-right: 0;
}

.hungry-wolf-sec .h-w-box h3 {
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 400;
  color: #fff;
  font-family: 'Block Berthold';
}

.hungry-wolf-sec .h-w-box p {
  font-weight: 400;
  color: #fff;
  font-family: 'Gotham';
  padding-bottom: 35px;
  max-width: 385px;
  margin: 0 auto;
}

.hungry-wolf-sec .h-w-box img {
  height: 300px;
}

.img-one img {
  width: 100%;
}

.desktop-hide {
  display: none;
}

.mobile-hide {
  display: block;
}

.mobile-title {
  display: none;
}

.second-time-video-text .slide h3 {
  font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(25px + (28 - 25) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 400;
  font-family: BertholdBlock;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
}

.second-time-video-text .slide p {
  color: #fff;
  font-weight: 400;
  font-family: 'Gotham-Book';
  max-width: 346px;
  margin: 0 auto;
  padding: 10px 0 0px 0;
}

.second-time-video-text .container {
  padding-top: 15px;
}

.s-img {
  height: 350px;
}

.slide:nth-child(1) .s-img img {
  height: 331px;
}

.slider-wrapper .s-img img {
  height: 341px;
}

.second-time-video-text .slide:nth-child(3):before {
  border-right: 0;
}

/* Slider CSS */
.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 30%;
  margin: 0 2.5%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

.slide.active {
  opacity: 1;
  /* transform: scale(1.1); */
}

.slide img {
  width: 100% !important;
  height: 230px;
  margin-bottom: 50px;
  object-fit: contain;
}

.slide h3 {
  margin: 10px 0;
  color: #000;
}

.slide p {
  /* font-size: 1em; */
  margin-bottom: 20px;
  color: #333;
}

.yellow-btn {
  display: inline-block;
  /* padding: 12px 12px; */
  text-decoration: none;
  border-radius: 25px;
  margin-top: 10px;
  /* max-width: 106px; */
}

.dots-container {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

div#text2.hidden {
  height: auto;
}

.img-big-wrap:nth-child(1) {
  z-index: 9999;
}

.img-big-wrap:nth-child(2) {
  z-index: 9;
}
.mouse-wrap {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  text-align: center;
}

.mouse {
  height: 60px;
  width: 32px;
  border: 3px solid #9b2220;
  border-radius: 32px;
  position: relative;
  bottom: 30px;
  cursor: pointer;
}

.scrollWheel {
  height: 20px;
  width: 2px;
  background: #9b2220;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10px;
  border-radius: 1px;
  transform: scaleY(0);
  animation: scroll 2s linear infinite;
}

@keyframes scroll {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  25% {
    transform: scaleY(1);
    transform-origin: top;
  }
  26% {
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@supports (animation-timeline: view()) {
  .support {
    display: none;
  }
}

@keyframes grow {
  0% {
    scale: 0.5;
    opacity: 0;
  }
}

@keyframes fade-away {
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes scale-up {
  to {
    scale: 1.5;
  }
}
@-webkit-keyframes zoomeffect {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .slider-container {
    overflow: visible;
    max-width: 1600px;
    margin: 0 auto;
  }

  .slider-wrapper {
    flex-direction: row;
    justify-content: center;
  }

  div#text2.hidden {
    width: 100%;
  }

  .slide {
    display: block;
    opacity: 1;
    transform: none;
    flex: 0 0 auto;
    margin: 0 10px;
  }

  .dots-container {
    display: none;
  }
}
@media (max-width: 2000px) {
  .second-time-video-text h2 {
    max-width: 870px;
  }
}
@media (max-width: 1440px) {
  .s-img {
    height: 280px;
  }
  .slide img {
    height: 210px;
  }
  .slide:nth-child(1) .s-img img {
    height: 280px;
  }

  .slider-wrapper .s-img img {
    height: 271px;
  }
  .second-time-video-text h2 {
    max-width: 740px;
  }
  .c-s-image-section {
    max-width: 930px;
  }
  .first-time-video-text h1 span:nth-child(2) {
    max-width: 840px;
  }
}

@media (max-width: 1380px) {
  .slide:nth-child(1) .s-img img {
    height: 250px;
  }

  .s-img {
    height: 260px;
  }

  .slider-wrapper .s-img img {
    height: 251px;
  }

  .second-time-video-text .slide:before {
    height: 178px !important;
  }
}

@media (max-width: 1199px) {
  .slide img {
    height: 160px;
  }
  .second-time-video-text .slide:before {
    height: 128px !important;
  }
  .first-time-video-text h1 img {
    width: 150px;
  }

  .hungry-wolf-sec .h-w-box img {
    max-height: 210px;
  }
  .hungry-wolf-sec .h-w-box p {
    max-width: 225px;
  }

  .slider-wrapper .s-img img {
    height: 210px;
  }

  .slide:nth-child(1) .s-img img {
    height: 210px;
  }

  .s-img {
    height: 220px;
  }

  .second-time-video-text .slide p {
    max-width: 274px;
  }

  .second-time-video-text .slide {
    width: 30.33% !important;
  }
}

@media (max-width: 1024px) {
  .second-time-video-text h2 {
    padding-top: 72px;
  }
  .second-time-video-text h2 {
    max-width: 505px;
  }
}

@media (max-width: 992px) {
  .hungry-wolf-sec .h-w-box img {
    max-height: 180px;
  }

  .hungry-wolf-sec .h-w-box:before {
    height: 148px;
  }

  .img-one {
    padding-bottom: 47px;
  }

  .slide img {
    height: 190px;
  }

  .second-time-video-text .slide:before {
    top: 37px !important;
  }
  .second-time-video-text .slide p {
    min-height: 80px;
  }
  .second-time-video-text h2 {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .second-time-video-text .slider-wrapper {
    display: flex;
    transform: unset !important;
    justify-content: center;
    width: 100%;
  }

  .inner-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .second-time-video-text .slide {
    width: 33.33%;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
  }

  .second-time-video-text .slide h3 {
    order: 2;
  }

  .second-time-video-text .slide img {
    order: 1;
  }

  .second-time-video-text .slide p {
    order: 3;
  }

  .second-time-video-text .btn-wrap {
    order: 4;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
  }

  .second-time-video-text .slide:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 1px solid #fff;
    height: 200px;
    width: 1px;
    top: 44px;
    -webkit-animation: zoomeffect 5s;
    -moz-animation: zoomeffect 5s;
    animation: zoomeffect 5s;
    transition: max-height 0.5s ease-out;
  }

  .second-time-video-text .slide:last-child::before {
    border: 0;
  }

  .second-time-video-text .slide:nth-child(4) {
    display: none;
  }
}

@media (max-width: 767px) {
  .img-big-wrap {
    width: 50%;
  }
  .second-time-video-text .btn-wrap {
    text-align: center;
    margin: 50px 0;
  }
  .c-s-btn a.yellow-btn {
    border-radius: 5px;
    min-width: 81px;
  }

  .img-big-wrap:nth-child(3) {
    z-index: 999999;
  }

  .img-big-wrap:nth-child(2) {
    z-index: 99999;
  }

  .c-s-btn {
    margin: 28px auto 33px;
  }

  .img-one {
    padding-bottom: 40px;
    width: 100%;
  }
  .second-time-video-text h2 {
    padding-top: 0;
  }

  .c-s-image-section {
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 0px;
  }

  .first-time-video-text h1 img {
    width: 75px;
    margin-left: 0px;
  }

  .inner-white-box {
    padding: 10px;
  }

  .img-one:before {
    width: 50px;
  }

  .second-time-video-text .container {
    padding: 0;
  }

  .second-time-video-text .b-title {
    padding: 30px 20px 70px;
  }

  .img-one:nth-child(1) {
    z-index: -1;
    left: -10px;
  }

  .img-one:nth-child(2) {
    margin-top: -20px;
    transform: rotate(8deg);
  }

  .img-one:nth-child(3) {
    transform: rotate(344deg);
    margin-top: -70px;
    z-index: 1;
    margin-left: 20px;
  }

  .img-one:nth-child(2)::before {
    width: 100px;
    height: 105px;
    top: -53px;
  }

  .slider-wrapper {
    transform: translateX(-33.33%);
  }

  .slider-container {
    width: 100%;
    height: auto;
    padding: 30px 0 70px;
  }

  .slider-wrapper {
    flex-direction: row;
    align-items: center;
    padding: 60px 0;
  }

  .slide {
    flex: 0 0 33.33%;
    margin: 0;
    opacity: 0.5;
  }

  .slide.active {
    opacity: 1;
  }

  .slide.active .inner-slider {
    transform: scale(2);
  }

  .slide:not(.active) .inner-slider img {
    max-width: 80px;
  }

  .slide img {
    order: 2;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
  }

  .slide p {
    order: 4;
  }

  .yellow-btn {
    order: 5;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
  }

  .dots-container {
    text-align: center;
    position: absolute;
    bottom: 150px;
    width: 100%;
    order: 3;
  }

  .dots-container .dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    background-color: rgba(254, 222, 3, 0.53);
    border-radius: 50%;
    cursor: pointer;
  }

  .dots-container .dot.active {
    background-color: rgba(254, 222, 3, 1);
  }

  .slide:nth-child(1) .s-img img {
    height: auto;
  }

  .s-img {
    height: auto;
  }

  .second-time-video-text .slide h3,
  .second-time-video-text .slide p,
  .second-time-video-text .slide .yellow-btn {
    display: none;
  }

  .second-time-video-text .slide.active h3,
  .second-time-video-text .slide.active p,
  .second-time-video-text .slide.active .yellow-btn {
    display: block;
  }

  .second-time-video-text .slide.active h3 {
    order: 1;
    font-family: 'RubikOne-Regular';
    margin-bottom: 15px;
    font-size: 7px;
    line-height: 10px;
  }

  .second-time-video-text .slide.active .s-img {
    order: 2;
  }

  .second-time-video-text .slide.active p {
    order: 3;
    margin-bottom: 7px;
    font-size: 6px;
    line-height: 7px;
    height: auto !important;
    max-width: 80px !important;
  }

  .second-time-video-text .slide.active .yellow-btn {
    order: 4;
    font-family: 'Chivo-Regular';
    padding: 0px 3px;
    min-width: 40px;
    border: 1px solid yellow !important;
    border-radius: 3px;
    font-size: 8px;
    margin: 0 auto;
    width: 0;
    height: 15px;
    line-height: 15px;
  }

  .second-time-video-text .slide p {
    font-family: 'Chivo-Regular';
    padding: 0;
    min-height: initial;
  }

  .slide {
    flex-direction: column;
    align-items: center;
  }

  .second-time-video-text .slide {
    width: auto !important;
  }

  .second-time-video-text .slide p br {
    display: none;
  }
  .slide {
    padding: 30px 20px 20px 20px;
  }
  .img-big-wrap:nth-child(2) .img-one::before {
    width: 50px;
    height: 100px;
    top: -49px;
  }
  .second-time-video-text h2 {
    max-width: 375px;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
  .slide img {
    height: 60px;
  }

  .second-time-video-text .b-title {
    padding: 0px 20px 10px;
  }
  .img-big-wrap:nth-child(3) .img-one {
    transform: rotate(-15deg);
    margin-top: -70px;
    margin-left: 30px;
    z-index: -1;
  }
  .img-big-wrap:nth-child(2) .img-one {
    transform: rotate(8deg);
    margin-top: 50px;
    margin-left: 5px;
    width: 210px;
  }
  .img-big-wrap:nth-child(1) .img-one {
    margin-top: 100px;
    width: 210px;
  }
  .dots-container {
    bottom: 190px;
  }
  .second-time-video-text h2 {
    max-width: 315px;
  }
}

@media (max-width: 393px) {
}

@media (max-width: 375px) {
  .dots-container {
    bottom: 190px;
  }
}
